.App {
  text-align: center;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.add-songs-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.add-songs-results {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-song {
  display: flex;
  align-items: center;
}

.add-songs-info {
  display: flex;
  height: 64px;
  width: 80%;
  flex-direction: column;
}

.add-songs-info p {
  font-size: 12px;
  text-align: left;
  margin-left: 15px;
}

/* .add-songs-search {
  display: flex;
}

.add-songs-playlist {
  display: flex;
} */